@page
@model SectoresCRUD.Pages.ColegioElectorales.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ColegioElectoral</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ColegioElectoral.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ColegioElectoral.Codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ColegioElectoral.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ColegioElectoral.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ColegioElectoral.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ColegioElectoral.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ColegioElectoral.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ColegioElectoral.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ColegioElectoral.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ColegioElectoral.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ColegioElectoral.MunicipioId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ColegioElectoral.MunicipioId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ColegioElectoral.SectorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ColegioElectoral.SectorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ColegioElectoral.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ColegioElectoral.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ColegioElectoral.FechaCreacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ColegioElectoral.FechaCreacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ColegioElectoral.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
