@page
@model SectoresCRUD.Pages.EstadoCiviles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EstadoCivil</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCivil.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoCivil.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCivil.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoCivil.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCivil.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoCivil.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCivil.FechaCreacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoCivil.FechaCreacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EstadoCivil.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
