@page
@model SectoresCRUD.Pages.TiposDeSangre.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TipoDeSangre</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDeSangre.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoDeSangre.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDeSangre.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoDeSangre.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDeSangre.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoDeSangre.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDeSangre.FechaCreacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoDeSangre.FechaCreacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TipoDeSangre.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
