@page
@model SectoresCRUD.Pages.Provincias.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Provincia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provincia.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provincia.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provincia.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provincia.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provincia.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provincia.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provincia.FechaCreacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provincia.FechaCreacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Provincia.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
